extends layout

block content
    #about
        h2 About
        ul
            li
                a(href='/about/characters')
                    img(src='/images/menucharacters.png')
            li
                a(href='/about/world')
                    img(src='/images/menuworld.png')
            li
                a(href='/about/magic')
                    img(src='/images/menumagic.png')
            li
                a(href='/about/lore')
                    img(src='/images/menulore.png')
    