doctype 5
html
  head
    title= "Blackbird - " + title
    link(rel='stylesheet', href='/stylesheets/stylesheet.css' type="text/css")
  body
    #header
        span#title Blackbird
        span#navigation
            a(href="/") Home
            span |
            a(href="/about") About
            span |
            a(href="/characters") Characters
            span |
            a(href="/extras") Extras
            span |
            a(href="/archive") Archive
    #comicpane
        block content