doctype 5
html
  head
    title= "Blackbird - " + title
    link(rel='stylesheet', href='/stylesheets/stylesheet.css' type="text/css")
  body
    #header
        span#title Blackbird
        span#navigation.
            Home | About | Character | Extras | Archive
    #comicpane
        block content