@font-face { 
    font-family: "Stonehenge";
    src: url("/fonts/stonehen.ttf") format("truetype"),
         url("/fonts/stonehen.woff");
}
@font-face { 
    font-family: "Carolingia";
    src: url("/fonts/carolingia.ttf") format("truetype"),
         url("/fonts/carolingia.woff");
}
body {
	background: linear-gradient(to bottom, #3b362d, #7c7260);
    background: -webkit-linear-gradient(to bottom, #3b362d, #7c7260);
	width: 900px;
	margin: auto;
	padding: 0;
}
 #header {
	text-align: center;
 }
#title {
	height: 100px;
	color: #e4d2b2;
	font-family: Stonehenge;
	font-size: 150px;
	display: inline-block;
	text-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}
 #navigation {
	color: #4f8be9;
	display: inline-block;
	font-family: Carolingia;
	font-size: 30px;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.75);
}
#navigation a {
    color: #4f8be9;
    text-decoration: none;
    transition-duration: 250ms;
}
#navigation a:hover {
    color: #b2c6e6;
}
#navigation span {
    margin: 0 10px;
}
#comicpane {
	height: 1274px;
	width: 900px;
	margin: auto;
	background-color: #1d180f;
}
.pagination {
	color: #4f8be9;
	font-size: 24px;
	font-family: Carolingia;
	text-align: center;
}
#comic {
	width: 870px;
	height: 1222px;
	background-color: white;
	margin: auto;
}